

#OUTPUT
---------------------------------
trajFile liq_ar.xyz
logFile liq_ar.log
velFile liq_ar.vel
forFile liq_ar.force

#NPT SIMULATION
---------------------------------
temperature 300		# Kelvins
nAtoms 512		# Volume will be determined by the number of particles (or I set the volume myself... need to figure that out)
# box dimensions...
 
#SIMULATION PARAMETERS
---------------------------------
nIter 300
deltaWrite 100
cutoff 10.0		# Angstroms
reevalvel 10		# reevaluate velocities every 10 steps (not sure how often I should do this...)
ig 1897430		# random number seed for velocity initialization
delta_t 0.002		# units: ps; 2 fs 

#PARTICLE PARAMETERS
---------------------------------
Ar_m 6.626E-26		# units of kg per atom
Ar_eps 0.210849		# units of kcal/mol
Ar_sigma 3.345		# units of angstroms 


