

#OUTPUT
---------------------------------
trajFile liq_ar.01fs.xyz
logFile liq_ar.01fs.log
velFile liq_ar.01fs.vel
forFile liq_ar.01fs.force

#NPT SIMULATION
---------------------------------
temperature 300.0		# Kelvins
nAtoms 512		# Volume will be determined by the number of particles (or I set the volume myself... need to figure that out)
# box dimensions...
 
#SIMULATION PARAMETERS
---------------------------------
nIter 2000 
deltaWrite 1
cutoff 10.0		# Angstroms
ig 189			# random number seed for velocity initialization
delta_t 0.0001		# units: ps; 2 fs 

#PARTICLE PARAMETERS
---------------------------------
Ar_m 6.626E-26		# units of kg per atom
Ar_eps 0.210849		# units of kcal mol^1
Ar_sigma 3.345		# units of angstroms 
MW_Ar 0.039948		# units of kg mol^-1

